body {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    font-size: xx-large;
    color: black;
    background-color: #FED7D8;
}

a {
    font-size: xx-large;
    color: black;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


.logo {
    height: 50vw;
    width: auto;
    flex-grow: 1;
}

@media only screen and (max-width: 500px) {
body {
    flex-direction: column;
    font-size: x-large;
    justify-content: flex-start;
    }
a {
    font-size: x-large;
}
.logo {
    height: auto;
    width: 100vw;
}
.links {
    display: flex;
    align-items: center;
}
}
